version: '3.4'

services:
  visolity-wifi-ca:
    image: visolity-wifi
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 80:80
      - 1812:1812/udp
