#Azure App Registration
TENANT_ID=""
CLIENT_ID=""
CLIENT_SECRET=""

# Website URL
REDIRECT_URI="http://localhost:3000/auth/redirect"
POST_LOGOUT_REDIRECT_URI="http://localhost:3000"

# Radius
RADIUS_SECRET="test123"