<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Visolity - EAP-TLS WiFi Setup</title>
        <meta name="description" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
        <meta name="subject" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
        <meta name="author" content="Codings">

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/vendor/slider.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/vendor/icons.min.css">
        <link rel="stylesheet" href="assets/css/vendor/animation.min.css">
        <link rel="stylesheet" href="assets/css/vendor/gallery.min.css">
        <link rel="stylesheet" href="assets/css/vendor/cookie-notice.min.css">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/theme-blue.css">

        <!-- ==============================================
        Theme Settings
        =============================================== -->
        <style>
            :root {               
                --header-bg-color: #f5f5f5;
                --nav-item-color: #2f323a;
                --top-nav-item-color: #2f323a;
                --hero-bg-color: #eeeeee;
                --section-1-bg-color: #f5f5f5;
                --footer-bg-color: #eeeeee;
            }
        </style>
        
    </head>
    <body>

        <!-- Header -->
        <header id="header">
            <!-- Navbar -->
            <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
                <div class="container header">
                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="/">
                        <img src="assets/images/logo.svg" alt="Visolity">
                    </a>
                    <!-- Nav holder -->
                    <div class="ml-auto"></div>
                </div>
            </nav>
        </header>

        <!-- Hero -->
        <section id="hero" class="hero p-1 featured">
            <div class="swiper-container no-slider slider-h-50">
                <div class="swiper-wrapper">
                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">
                        <img data-mask="60" src="assets/images/bg.jpg" class="full-image">
                        <div class="slide-content row text-center">
                            <div class="col-12 mx-auto inner">
                                <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Visolity WiFi Setup</h1>
                                <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{{body}}}
        <!-- Footer -->
        <footer>
            <!-- Copyright -->
            <section id="copyright" class="p-3 copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                            <p>Visolity EAP-TLS WiFi Setup</p>
                        </div>
                        <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                            <p>© 2023 <a href="https://www.visolity.nl" target="_blank">Visolity</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="assets/js/vendor/jquery.min.js"></script>
        <script src="assets/js/vendor/jquery.easing.min.js"></script>
        <script src="assets/js/vendor/jquery.inview.min.js"></script>
        <script src="assets/js/vendor/popper.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/vendor/ponyfill.min.js"></script>
        <script src="assets/js/vendor/slider.min.js"></script>
        <script src="assets/js/vendor/animation.min.js"></script>
        <script src="assets/js/vendor/progress-radial.min.js"></script>
        <script src="assets/js/vendor/bricklayer.min.js"></script>
        <script src="assets/js/vendor/gallery.min.js"></script>
        <script src="assets/js/vendor/shuffle.min.js"></script>
        <script src="assets/js/vendor/cookie-notice.min.js"></script>
        <script src="assets/js/vendor/particles.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script>
            $('#type').change(function () {
                opt = $(this).val();
                if (opt == "apple") {
                    $("#pfx").collapse('hide');
                    $("#txt1").collapse('hide');
                    $("#txt2").collapse('hide');
                    $("#txt3").collapse('hide');
                    $("#apple").collapse('show');
                }
                if (opt == "txt") {
                    $("#pfx").collapse('hide');
                    $("#apple").collapse('hide');
                    $("#txt1").collapse('show');
                    $("#txt2").collapse('show');
                    $("#txt3").collapse('show');
                }
                if (opt == "pfx") {
                    $("#apple").collapse('hide');
                    $("#txt2").collapse('hide');
                    $("#txt3").collapse('hide');
                    $("#pfx").collapse('show');
                    $("#txt1").collapse('show');
                }
            });
        </script>
    </body>
</html>